Requerimentos: Pandas

Planilhas

In [4]:
import pandas as pd

In [7]:
companies = pd.read_csv("./data/empresas.csv", sep=";")

In [8]:
companies.shape

(9, 2)

In [9]:
companies.head()

                     name                                            sectors
0                   Tesla  Setor automotivo e de tecnologia de veículos e...
1  Google (Alphabet Inc.)  Tecnologia da informação, serviços online, pub...
2              Apple Inc.  Tecnologia da informação, eletrônicos de consu...
3               Microsoft  Tecnologia da informação, software, computador...
4                Unilever  Bens de consumo, produtos de higiene pessoal, ...

In [17]:
sectors = pd.read_csv("./data/setores.csv", index_col=0, sep=";")
sectors.shape

(6, 1)

In [18]:
sectors.head()

                                                    setor
indice
1                                                 Energia
2                                              Transporte
3       Indústria -  produção de cimento, aço, alumíni...
4                  Desmatamento e mudança no uso da terra
5                                             Agricultura

In [21]:
sectors_br = pd.read_csv("./data/setores_br.csv", index_col=0, sep=";")
sectors_br.shape

(5, 1)

In [22]:
sectors_br.head()

                                        setores
indice
1       Desmatamento e mudança no uso da terra*
2                                  Agropecuária
3                                       Energia
4                                     Indústria
5                                    Transporte